$green: #00ff00;
$svg-text: #F0F0F0;
$texty-salmon: #ed6746;
$mobile: 800px;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


@font-face {
  font-family: 'ProximaNova';
  src: url('../font/proxima_regular/proxima-nova-regular.eot');
  src: url('../font/proxima_regular/proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
  url('../font/proxima_regular/proxima-nova-regular.woff2') format('woff2'),
  url('../font/proxima_regular/proxima-nova-regular.woff') format('woff'),
  url('../font/proxima_regular/proxima-nova-regular.ttf') format('truetype'),
  url('../font/proxima_regular/proxima-nova-regular.svg#youworkforthem') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/proxima_bold/proxima-nova-bold.eot');
  src: url('../font/proxima_bold/proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
  url('../font/proxima_bold/proxima-nova-bold.woff2') format('woff2'),
  url('../font/proxima_bold/proxima-nova-bold.woff') format('woff'),
  url('../font/proxima_bold/proxima-nova-bold.ttf') format('truetype'),
  url('../font/proxima_bold/proxima-nova-bold.svg#youworkforthem') format('svg');
  font-weight: 600;
  font-style: normal;
}


body {
  margin:0;
  padding: 0;
  background-color: #333;
  font-family: 'ProximaNova', sans-serif;
  color: white;
}


.soc {
  z-index: 1000;
  position: absolute;
  top: 10px;
  right: 10px;

  i {
    font-size:35px;
    margin: 0 0 0 5px;
    max-height: 1em;
    transition: all 0.5s;
    color: white;
    border-bottom: 0;


    &:hover {
      color: $texty-salmon;
    }
  }


}

header {
  width: 100%;
  position: relative;
  display: flex;
  display: grid;
  grid-template-columns: 2fr 15fr 55fr 2fr;
  grid-template-rows: 2.5em auto;
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/cover.jpg");
  background-size: cover;
  background-position: 0 100%;

  height: 70vh;
  padding: 0 0 50px 0;
  z-index: 10;
  @media(max-width: $mobile){
    padding: 0 0 20px 0;
  }

  .rubrics-container {
    font-family: 'ProximaNova', sans-serif;
    color: white;
    grid-column: 3/4;
    align-items: center;
    @media(max-width: $mobile) {
      display: block;
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 0 20px;
    }

    .rubric {
      text-transform: uppercase;
      letter-spacing: 0.5px;

      a {
        font-size: 18px;
        text-decoration: none;
        color: white;
      }
    }

    .r1 { grid-column: principals; }
    .r2 { grid-column-start: infographis; }
    .r3 { grid-column-start: burger; }

    .r1, .r2, .r3, .r4, .r5 {
      @media(max-width: $mobile) {
        display: none;
      }
    }
  }

  .texty-logo {
    grid-column-start: 2;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: $mobile) {
      grid-column-start: 2;
      justify-content: center;
      grid-row: 1/2;
      margin-left: 1em;
    }

    img {
      min-width: 150px;
      max-width: 100%;
      max-height: 20px;
      object-fit: contain;
    }
  }

  nav {

    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#header {
  grid-column: 2/-2;
  position: relative;
  height:100%;
  border: 2px solid $green;

  img {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 180px;
  }

  h1 {
    margin: 0;
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    font-size: 52px;
    font-weight: normal;
    @media(max-width: $mobile){
      font-size: 40px;
    }
  }
}



h2 {
  font-weight: 100;
  font-size:20px;
  text-align: end;
}


p, .subtitle, .chart-title {
  width: 50%;
  @media(max-width: $mobile){
    width: 86%;
  }
}

p {
  font-size: calc(14px + 0.5vw);
  line-height: 1.6;
  margin: 20px auto;
}

p.qoute {
  font-size: calc(12px + 0.5vw);
  font-family: 'Roboto Mono', monospace;
  width: 60%;
  color: #F0F0F0;
  margin: 50px auto;
  @media(max-width: $mobile){
    width: 96%;
  }
}

.subtitle {
  font-size: calc(16px + 0.5vw);
  text-transform: uppercase;
  margin: 80px auto 30px;
}

.chart-title {
  font-size: calc(14px + 0.5vw);
  color: $green;
  margin: 40px auto 10px;
  font-weight: normal;
}

.chart-description {
  font-style: italic;
}

a.link {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid yellow;
}

//.source {
//  font-size: 14px;
//  margin-top: 0;
//}

.domain {
  display: none;
}


#heat-note {
  width:96%;
  max-width: 1400px;
  margin: 10px auto;
}


#heat-wrapper {
  position:relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin:auto;
  @media(max-width:800px) {
    display: block;
  }

  svg text {
    letter-spacing: 1px;
    fill: $svg-text;
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    @media(max-width:800px){
      font-size: 18px;
    }
  }
}


/* heat-графік svg */
#chart-1 {
  margin: auto;
  height: max-content;
  width: calc(65% - 4em);
  border: 1px solid red;
  @media(max-width: 800px){
    width: calc(90% - 2em);
  }
}


#cloud {
  width: 32%;
  @media(max-width: 800px){
    width: calc(90% - 2em);
    margin:auto;
  }

  svg {
   font-weight: 200;
    border: 1px solid red;
  }

}


path.heat-map {
  cursor:pointer;
}

svg text {
  letter-spacing: 1px;
  fill: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  @media(max-width:800px){
    font-size: 18px;
  }
}


.tick line {
  stroke: white;
}

.tick text {
  font-size: 15px;
  @media(max-width:800px){
    font-size: 15px;
  }
}

.chart-label {
  font-size: 15px;
  text-anchor: end;
  @media(max-width:800px){
    font-size: 18px;
  }
}



/* графік сума-кількість */
#sum_amount {
  width: 86%;
  margin: auto;
  max-width: 1200px;
}


text.cat {
  font-weight: 600;
  stroke: #374890;
  stroke-width: 0.5px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

select#select {
 display: none;
}


/* графік що крадуть разом з... */

#related-prod{
  width: 50%;
  margin: auto;
  @media(max-width: $mobile){
    width: 86%;
  }

  #related-wrapper {
    max-width: 500px;
  }
}

/* графік портрет крадія */

#portrait {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width:1400px;
  @media(max-width: $mobile){
    width: 86%;
    justify-content: left;
  }

  div {
    margin-right: 30px;
  }

}

.nice-select {
  color: #333;
  width: max-content;
  padding-right:45px !important;
}



/* графік типи алкоголя */

#alko_types {
  width: 100%;
  text {
    font-size: 15px;
  }
}

/* графік більше-менше-однаково */

#how_many_times {
  width: 50%;
  max-width:1200px;
  margin: auto;
  @media(max-width: $mobile){
    width: 86%;
  }
}



.st7.st8.st9 {
  font-size: 7px !important;
  @media(max-width: $mobile){
    font-size: 11px !important;
  }
}


/* read-more */

#read-more-title {
  text-align: center;
}

#read-more {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  @media(max-width: $mobile){
    display: block;
  }

  .rm {
    text-decoration: none;
    color: inherit;
    width: 25%;
    min-height: 200px;
    display: flex;
    margin: 10px auto;
    @media(max-width: $mobile){
      width: 90%;
    }

    
    
    h2 {
      width: 80%;
      text-align: center;
      margin: auto;
    }
  }

  #rm-1 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/rm-1.jpg");
    background-size: cover;
  }

  #rm-2 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/rm-2.png");
    background-size: cover;
  }

  #rm-3 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/rm-3.jpg");
    background-size: cover;
  }

}


/* donate */
.donate-us {
  margin: 80px auto 30px auto;

  hr {
    grid-column: 1/-1;
    margin: 20px 0;
  }

  a.donate-button {
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    margin: auto;
    min-height: 50px;
    padding: 10px;
    color: white;
    background-color: $texty-salmon;
    display: flex;

    p {
      width: 100%;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: auto !important;
      font-weight: 600;
    }
  }

  a {
    color: $texty-salmon;
    border-bottom: 0;
  }
}


/* */
footer {
  background-color: black;
  color: white;
  margin-top: 80px;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 2fr 13fr 5fr 35fr 5fr 13fr 1fr ;
  @media(max-width: $mobile) {
    background-color: black;
    color: white;
    padding: 30px 1em;
    display: block;
  }

  a {
    text-decoration: none;
    color: white;
    border-bottom: 0;
  }

  a:hover {
    color: $texty-salmon;
  }

  li, p {
    width: 100%;
    font-size: 16px;
    margin: 5px 0;
  }
}

/* копірайт колонка */
#logo-copyright {
  grid-column: 2/3;

  .copyright {
    margin-top: 20px;
  }

  a.texty-logo {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      margin:auto;
    }
  }

  #license {
    grid-column: 2/-1;
    margin-top: 50px;
    font-size: 14px;
  }
}




/* лінки */
#guide-block {
  grid-column: 4/5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  @media(max-width: 1050px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: $mobile){
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }
}


/* соціальні мережі */
#social_buttons {
  grid-column: -3/-2;
  @media(max-width: $mobile) {
    margin-top: 50px;
  }

  img {
    width: 30px;
    margin-right: 10px;
  }
}



